body {
    background-color: #60bcb9;   /* light background */
}
h1 {
  font-size: 40px;
  color: rgb(2, 2, 29);
  margin: 20px 0 0 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: #324885 2px 2px 4px ;
}
form .submit {
  background-color: #2ec85e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 30px;
}

form {
  margin-top: 20px;
  border: 4px solid #324885;
  height: max-content;
  width: max-content;
  padding: 20px;
  border-radius: 10px;
margin-left: 25%;
margin-top: 5%;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #c7e9f7, #e9d5f5, #d6ccf8);
  min-height: 100vh;
}

.reset {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}