
/* Sidebar */
h2 {
  letter-spacing: 1px;
  font-weight: 600;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  background-color: rgb(201, 240, 234);
}

nav {
  width: 220px;
  height: 100vh;
  background: linear-gradient(180deg, #c7e9f7, #e9d5f5, #d6ccf8);
  color: #2c2c54;
  padding: 20px;
}

nav h2 {
  margin-top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 15px 0;
}

nav a {
  text-decoration: none;
  color: #2c2c54;
  display: block;
  padding: 8px;
  border-radius: 5px;
  font-size: larger;
  font-weight: bold;
}

nav a:hover {
  background: linear-gradient(90deg, #dbeafe, #f3e8ff);
}

.content {
  display: flex;
  align-items: flex-start;   /* aligns items to top */
}

.create {
  background-color: #324885;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
  margin-top: 25px; 
  margin-left: 30px;
  transition: background-color 0.1s ;
    /* prevents stretching */
}

.create:hover {
  background-color: #3248859a;
}

