

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

/* Sidebar */
nav {
  width: 220px;
  height: 100vh;
  background-color: #5b4bb7;
  color: white;
  padding: 20px;
}

nav h2 {
  margin-top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 15px 0;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 8px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #7a6de0;
}

/* Main Content */
main {
  flex: 1;
  padding: 30px;
  background-color: #f5f5f5;
}
main .welcome {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-shadow: #819cfd 2px 2px 5px;
  color: #150b4e;
  font-size: 20px;
  font-style: bold;
  box-shadow: 0px 6px 6px lightseagreen , 6px 0px 6px rgb(9, 102, 97);
}

main .welcome:hover {
  background-color: #d0d0d0;
  color: #150b4e;
transform: scale(1.02);
  text-shadow: #819cfd 4px 4px 10px;
}
