body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

/* Sidebar */
nav {
  width: 220px;
  height: 100vh;
  background: linear-gradient(180deg, #c7e9f7, #e9d5f5, #d6ccf8);
  color: #2c2c54;
  padding: 20px;
}

nav h2 {
  margin-top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 15px 0;
}

nav a {
  text-decoration: none;
  color: #2c2c54;
  display: block;
  padding: 8px;
  border-radius: 5px;
}

nav a:hover {
  background: linear-gradient(90deg, #dbeafe, #f3e8ff);
}

/* Main Content */
main {
  flex: 1;
  padding: 30px;
  background: linear-gradient(135deg, #f4f9fd, #f8f4fb, #f3f0ff);
}

main .welcome {
  background: linear-gradient(135deg, #dbeafe, #f5d0e6, #ddd6fe);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-shadow: #c7d2fe 2px 2px 6px;
  color: #3f3d56;
  font-size: 20px;
  font-style: bold;
  box-shadow: 0px 6px 12px #e9d5ff , 6px 0px 12px #bfdbfe;
}

main .welcome:hover {
  background: linear-gradient(135deg, #cfe7ff, #ecc6e6, #d4ccff);
  color: #2f2c4a;
  transform: scale(1.02);
  text-shadow: #c4b5fd 4px 4px 12px;
  cursor: pointer;
}
