.navbar{
     width: 200px;
    background-color: #333;
    height: 100vh; /* full screen height */
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: block;          /* makes full clickable row */
    color: white;
    padding: 15px;
    text-decoration: none;
  }

  li :hover {
    background-color: #575757;
  }

